{% extends "mailings/base_mail.html" %}

{% block mail %}
    <table style="width: 100%">
      <tbody>
        <tr>
            <table style="width: 100%">
                <tr>
                    <td style="width: 50%;">
                        <img
                            src="https://el-tinto-utils.s3.amazonaws.com/logos/el_tinto_imagen_sin_espacios.png"
                            width="54"
                            class="d-inline-block"
                            style="vertical-align: bottom;"
                        >
                    </td>
                    <td style="vertical-align: bottom;">
                        <p style="text-align:right; margin:0; color: #696969; font-size: 14px">{{ date }}</p>
                    </td>
                </tr>
            </table>
        </tr>
        <hr style="width: 100%; border-top: 2px solid #eaeaea; margin-top: 0">
        <tr>
            <table style="margin: 0 auto">
                <tr>
                    <td>
                        <img
                          src="https://el-tinto-utils.s3.amazonaws.com/logos/el_tinto_text_b.png"
                          class="logo-title"
                          style="margin: 20px auto 0 auto;"
                        >
                        <p class="logo-subtitle">
                            {{ email_type }}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <hr style="width:100%;border-top:2px solid #eaeaea;margin: 20px 0">
                    </td>
                </tr>
            </table>
        </tr>
        <tr>
          <td>
            {{ html }}
            <h2 style="text-align:center; margin: 60px 0 0 0">
              <strong>Te puedes suscribir a El Tinto en menos de un minuto, ¡es gratis!</strong>
            </h2>
            <a class="suscribeLink" href="/suscribirse/" style="color: #FFFFFF; text-decoration: none;">
              <div style="background-color: #5044e4; height: 40px; width: 30%; display: table; margin: 40px auto 0 auto;">
                <p style="text-align: center; margin: 1rem !important">Suscribirse</p>
              </div>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
{% endblock %}