{%extends "admin/base.html" %}

{% block extrahead %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script>
        $(document).ready(function(){
                
                $('.add-another').each(function(i,o){
                        select_obj=$(o).parent().find('select')[0];
                        item_id=select_obj.options[select_obj.selectedIndex].value;
                        edit_url=o.href.replace('add',item_id)+"?_popup=1";
                        $(this).after('<span> </span><a class="edit-popup" '
                                +'href="'+edit_url+'"><img src="/static/admin/img/admin/'
                                +'icon_changelink.gif"/></a>')
                })

                $('.edit-popup').click(function(event){
                        win=window.open(this.href,'Edit Window',
                                'height=500,width=800,resizable=yes,scrollbars=yes')
                        win.focus()
                        event.preventDefault()
                })

        });

</script>
{% endblock %}