{% extends "mailings/base_mail.html" %}

{% block mail %}
    <table style="width: 100%">
      <tbody>
        <tr>
          <td>
            <img
              src="https://el-tinto-utils.s3.amazonaws.com/logos/el_tinto_imagotipo.png"
              style="margin: 0 auto 50px auto; display: block; width: 75%"
            />
            <hr style="width:100%;border-top:2px solid #eaeaea;margin: 20px 0">
            <div style="padding: 0 5%; margin: 10px 0 40px 0;">
                <p>
                  <strong>Hola {{ user_name }},</strong>
                  <br>
                  <br>
                  {% if display_type == 'str' %}
                  Acaba de realizar una solicitud para actualizar la frecuencia en la que quiere recibir El Tinto.
                  Ahora podrá disfrutar de nuestro sabor y mantenerse al día con las historias
                  más importantes del país <strong>{{ days }}</strong>.
                  <br>
                  <br>
                  <br>
                  {% elif display_type == 'list' %}
                  Acaba de realizar una solicitud para actualizar la frecuencia en la que quiere recibir El Tinto.
                  Ahora podrá disfrutar de nuestro sabor y mantenerse al día con las historias
                  más importantes del país los días:
                  <ul>
                    {% for day in days %}
                        <li><strong>{{ day }}</strong></li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </p>
                <p>
                    Si fue usted quién realizó esta solicitud y quiere confirmarla, por favor dé click en el siguiente link,
                    el cual estará disponible por las próximas 24 horas.
                </p>
                <a ses:no-track href="https://{{ env }}api.eltinto.xyz/users/update_preferred_days/confirm/?key={{ key }}" target="_blank" style="color: #FFFFFF; text-decoration: none;">
                  <div style="border-radius: 12px; background-color: #5044e4; height: 60px; width: 50%; vertical-align: middle; margin: 40px auto 0 auto; display: table;">
                    <p style="text-align: center; color: #FFFFFF;">Actualizar</p>
                  </div>
                </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
{% endblock %}