{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>El Tinto</title>
  <style>
    body {
      font-family: Arial;
    }
    {#This targets gmail html and allows to change default gmail behavior for links#}
    u + #body a {
        color: #fca311;
    }
    h1 {
      font-size: 46px;
    }
    h2 {
      font-size: 20px;
    }
    h3 {
      font-size: 18px;
      line-height: 150%;
      font-weight: 400
    }
    p {
        line-height: 150%;
        font-size: 16px;
    }
    li {
        font-size: 16px;
    }
    a {
      color: #fca311 !important;
      text-decoration: underline !important;
    }
    a div {
      background-color: #5044e4; 
      border-radius: 12px; 
      height: 45px;
      color: #FFFFFF;
      font-size: 18px;
      border: none;
      cursor: pointer;
    }
    .logo-subtitle{
      text-align: center;
      font-size: 23px;
      font-family: 'Raleway'
    }
    .logo-title{
      display: block;
      margin: 20px auto;
      width: 60%
    }
    .main {
      padding: 20px 0;
    }
    @media only screen and (min-width: 768px) {
      .main {
        padding: 20px 20%;
      }
      .logo-title{
        display: block;
        margin: 40px auto 20px auto;
        width: 40%
      }
      .logo-subtitle{
        text-align: center;
        font-size: 28px;
        font-family: 'Raleway'
      }
    }
  </style>
</head>

<body id="body">
  <div class="main">
    <span style="color: transparent; width: 1px; height: 1px">{{ subject_message }}</span>
    <table style="width: 100%">
      <tbody>
        <tr>
            <table style="width: 100%">
                <tr>
                    <td style="width: 50%">
                        <img src="https://el-tinto-utils.s3.amazonaws.com/logos/el_tinto_imagen_sin_espacios.png" width="54" class="d-inline-block" style="vertical-align: 0">
                    </td>
                    <td>
                        <p style="text-align:right; margin:0; color: #696969; font-size: 14px">{{date}}</p>
                        <a
                          style="text-decoration: none !important;"
                          href="https://{{ env }}eltinto.xyz/el-tinto/?date={{social_media_date}}" class="" target="_blank"
                        >
                            <p style="text-align:right; margin:0; color: #696969; font-size: 14px;">Ver en navegador</p>
                        </a>
                    </td>
                </tr>
            </table>
        </tr>
        <hr style="width: 100%; border-top: 2px solid #eaeaea; margin-top: 0">
        <tr>
            <table style="margin: 0 auto">
                <tr>
                    <td>
                        <img
                          src="https://el-tinto-utils.s3.amazonaws.com/logos/el_tinto_text_b.png"
                          class="logo-title"
                          style="margin: 20px auto 0 auto"
                        >
                        <p class="logo-subtitle">
                            <span style="color: #fca311">-</span> {{ email_type }} <span style="color: #fca311">-</span>
                        </p>
                    </td>
                </tr>
            </table>
        </tr>
        <tr>
          <td>
            <div style="background-color: #5044e4; height: 60px; width: 100%; display: table; margin: 20px 0;">
              <h3 style="color: #FFFFFF; text-align:center; vertical-align: middle; display: table-cell; padding: 0 30px;">
                Historias importantes para gente ocupada
              </h3>
            </div>
            <h2 style="text-align: center; font-weight: 400; margin: 0; font-size: 25px; padding: 0 30px;">
              <strong>
                  {% if referred_users_count < 1 %}
                    {{ referred_users_count }}/1
                  {% elif referred_users_count < 5 %}
                    {{ referred_users_count }}/5
                  {% elif referred_users_count < 10 %}
                    {{ referred_users_count }}/10
                  {% elif referred_users_count < 15 %}
                    {{ referred_users_count }}/15
                  {% elif referred_users_count < 30 %}
                    {{ referred_users_count }}/30
                  {% else %}
                    {{ referred_users_count }}
                  {% endif %}
              </strong>
              usuarios inscritos a El Tinto
            </h2>
            <h3 style="text-align: center; font-weight: 400; margin: 10px 0 0 0;">
                Comparte tu link personalizado
                <a
                  href="https://api.whatsapp.com/send?text=Suscríbete%20a%20El%20Tinto%20y%20ayúdame%20a%20aumentar%20mi%20número%20de%20recomendados%20😁%0A%0A*¡Recuerda%20que%20tienes%20que%20abrir%20por%20lo%20menos%20un%20correo%20para%20que%20cuentes%20como%20mi%20referido!*%0A%0AEl%20Tinto,%20historias%20importantes%20para%20gente%20ocupada.%20https://{{ env }}eltinto.xyz/suscribirse/?referral_code={{referral_code}}"
                  target="_blank"
                >
                  <img
                    src="https://el-tinto-utils.s3.amazonaws.com/whatsapp_icon.png"
                    style="width: 30px; margin: 0 auto; display: inherit; vertical-align: bottom"
                  >
                </a>
            </h3>
            <br>
            {% if referred_users_count < 1 %}
              <img
                src="https://el-tinto-utils.s3.amazonaws.com/referral_program/EL_TINTO_TGCHI_BEGINING.gif"
                style="display: block; width: 100%"
              >
            {% elif referred_users_count < 5 %}
              <img
                src="https://el-tinto-utils.s3.amazonaws.com/referral_program/EL+TINTO_TAGCHI_2.gif"
                style="display: block; width: 100%"
              >
            {% elif referred_users_count < 10 %}
              <img
                src="https://el-tinto-utils.s3.amazonaws.com/referral_program/EL+TINTO_TAGCHI_3.gif"
                style="display: block; width: 100%"
              >
            {% elif referred_users_count < 15 %}
              <img
                src="https://el-tinto-utils.s3.amazonaws.com/referral_program/EL+TINTO_TAGCHI_4.gif"
                style="display: block; width: 100%"
              >
            {% elif referred_users_count < 30 %}
              <img
                src="https://el-tinto-utils.s3.amazonaws.com/referral_program/EL+TINTO_TAGCHI_5.gif"
                style="display: block; width: 100%"
              >
            {% elif referred_users_count >= 30 and email == 'jlosada@losadamunoz.com' %}
              <img
                src="https://el-tinto-utils.s3.amazonaws.com/referral_program/el_tinto_extra.gif"
                style="display: block; width: 100%"
              >
            {% else %}
              <img
                src="https://el-tinto-utils.s3.amazonaws.com/referral_program/TAMAGOCHI_WHAT+A+LEGEND_.gif"
                style="display: block; width: 100%"
              >
            {% endif %}
            <br>
            <br>
            <h3 style="text-align:justify">
              <strong>
                {% if name %}
                  Buenos días {{ name }}, este es El Tinto de hoy.
                {% else %}
                  Buenos días, este es El Tinto de hoy.
                {% endif %}
              </strong>
            </h3>
              {{html}}
              <h3 style="text-align: center; margin-top: 30px;">
                <strong>¿Te gustó el Tinto de hoy y quieres compartirlo?</strong>
              </h3>
              <table style="width: 40%; margin: 30px auto 60px auto;">
                <tbody>
                  <tr>
                    <td>
                      <a
                        ses:tags="type:WBP"
                        href="https://{{ env }}eltinto.xyz/el-tinto/?date={{social_media_date}}" class="" target="_blank"
                      >
                        <img
                          src="https://el-tinto-utils.s3.amazonaws.com/el_tinto_cursor.png"
                          style="width: 50px; height: auto; margin: 0 auto; display: block;"
                        >
                      </a>
                    </td>
                    <td>
                      <a
                        ses:tags="type:FB"
                        href="https://www.facebook.com/sharer/sharer.php?u=https://{{ env }}eltinto.xyz/el-tinto/?date={{social_media_date}}"
                        target="_blank"
                      >
                        <img
                          src="https://el-tinto-utils.s3.amazonaws.com/facebook_icon.png"
                          style="width: 40px; height: auto; margin: 0 auto; display: block;"
                        >
                      </a>
                    </td>
                    <td>
                      <a
                        ses:tags="type:TW"
                        href="https://twitter.com/intent/tweet?text={{tweet}}%20@ElTinto_%20https://{{ env }}eltinto.xyz/el-tinto/?date={{social_media_date}}"
                        target="_blank"
                      >
                        <img
                          src="https://el-tinto-utils.s3.amazonaws.com/twitter_icon.png"
                          style="width: 40px; height: auto; margin: 0 auto; display: block;"
                        >
                      </a>
                    </td>
                    <td>
                      <a
                        ses:tags="type:WP"
                        href="https://api.whatsapp.com/send?text={{tweet}}%20https://{{ env }}eltinto.xyz/el-tinto/?date={{social_media_date}}"
                        target="_blank"
                      >
                        <img
                          src="https://el-tinto-utils.s3.amazonaws.com/whatsapp_icon.png"
                          style="width: 40px; height: auto; margin: 0 auto; display: block;"
                        >
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            <h2 style="text-align:center;">
              ¿Te reenviaron este correo?
            </h2>
            <p style="text-align:center;">
              Te puedes suscribir a El Tinto en menos de un minuto, ¡es gratis!
            </p>
            <a ses:no-track
               href="https://{{ env }}eltinto.xyz/suscribirse/"
               target="_blank"
               style="color: #FFFFFF; text-decoration: none !important;"
            >
              <div style="background-color: #5044e4; height: 60px; width: 30%; vertical-align: middle; margin: 40px auto 100px auto; display: table;">
                <p style="text-align: center;">Suscribirse</p>
              </div>
            </a>
            <div style="background-color: #5044e4; padding: 5px 5%;">
              <hr style="width: 100%; border-top: 1px solid #FFFFFF; margin: 20px 0;">
              <p style="color: #FFFFFF; text-align: center; font-size: 12px; margin: 20px 0;">Copyright © El Tinto 2022 Todos 
                los derechos reservados.
              </p>
              <p style="color: #FFFFFF; text-align: center; font-size: 12px; margin: 0;">
                ¿No quieres recibir más estos correos?
              </p>
              <p style="color: #FFFFFF; text-align: center; font-size: 12px; margin: 0;">
                Te puedes desuscribir de esta lista
                  <a ses:no-track href="https://www.{{ env }}eltinto.xyz/desuscribirse/personalizar/?email={{email}}"
                    target="_blank"
                    style="color: #FFFFFF !important;"
                  >
                      aquí
                  </a>.
              </p>
              <p style="color: #FFFFFF; text-align: center; font-size: 12px; margin: 20px 0 0 0;">¿Tienes alguna sugerencia o 
                quisieras que incluyeramos algo nuevo?
              </p>
              <p style="color: #FFFFFF; text-align: center; font-size: 12px; margin: 0">Escríbenos a 
                <a
                  ses:no-track href='mailto:info@eltinto.xyz'
                  style='color: #FFFFFF !important; text-decoration: none !important;'
                >
                  info@eltinto.xyz
                </a>
                o responde a este correo y te daremos respuesta antes de que se te enfríe el tintico.
              </p>
              <hr style="width: 100%; border-top: 1px solid #FFFFFF; margin: 20px 0;">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>