{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>El Tinto</title>
  <style>
    body {
      font-family: Arial;
    }
    h1 {
      font-size: 46px;
    }
    h2 {
      font-size: 20px;
    }
    h3 {
      font-size: 18px;
    }
    a {
      color: #348286;
    }
    a div {
      background-color: #5044e4; 
      border-radius: 12px; 
      height: 45px;
      color: #FFFFFF;
      font-size: 18px;
      border: none;
      cursor: pointer;
    }
    .main {
      padding: 20px 0;
    }
    @media only screen and (min-width: 768px) {
      .main {
        padding: 20px 26%;
      }
    }
  </style>
</head>

<body>
  <div class="main">
    <table style="width: 100%">
      <tbody>
        <tr>
          <td>
            <img src="https://el-tinto-utils.s3.amazonaws.com/el_tinto_logo.png" style="margin: 0 auto; display: block;"/>
            <div style="background-color: #5044e4; height: 60px; width: 100%; display: table; margin: 20px 0;">
              <h2 style="color: #FFFFFF; text-align:center; vertical-align: middle; display: table-cell; padding: 0 30px;">
                Historias importantes para gente ocupada
              </h2>
            </div>
            <div style="padding: 0 5%; margin: 10px 0 20px 0;">
              <p>
                Un correo diario con lo más relevante del momento en Colombia, curado con los medios 
                más rigurosos e independientes.
              </p>
              <p>
                ¿No te llegan los correos a la bandeja principal? Revisa cómo evitarlo en nuestro FAQ 
                <a href="https://www.eltinto.xyz/faq/" target="_blank">haciendo click aquí</a>.
              </p>
            </div>
            <hr style="width: 100%; border-top: 1px solid #eaeaea;">
            <p style="text-align:center; margin: 40px 0; color: #696969; font-size: 18px">{{date}}</p>
            <hr style="width: 100%; border-top: 1px solid #eaeaea;">
            <h3 style="text-align:justify">
              {% if name %}
              Buenos días {{ name }}, este es El Tinto de hoy.
              {% else %}
              Buenos días, este es El Tinto de hoy.
              {% endif %}
            </h3>
              {{html}}
            {<!--
              <h3 style="text-align: center; margin-top: 60px;">
                <strong>¿Te gustó nuestro sabor y quieres compartirlo en tus redes?</strong>
              </h3>
              
              <table style="width: 40%; margin: 30px auto 60px auto;">
                <tbody>
                  <tr>
                    <td>
                      <a 
                        href="https://www.facebook.com/sharer/sharer.php?u=https://eltinto.xyz/el_tinto/?date={{social_media_date}}" class="" target="_blank"
                      >
                        <img 
                          src="https://el-tinto-utils.s3.amazonaws.com/facebook_icon.png" 
                          style="width: 40px; height: auto; margin: 0 auto; display: block;"
                        >
                      </a>
                    </td>
                    <td>
                      <a 
                        href="https://twitter.com/intent/tweet?text=https://eltinto.xyz/el_tinto/?date={{social_media_date}}" class="" target="_blank"
                      >
                        <img 
                          src="https://el-tinto-utils.s3.amazonaws.com/twitter_icon.png" 
                          style="width: 40px; height: auto; margin: 0 auto; display: block;"
                        >
                      </a>
                    </td>
                    <td>
                      <a 
                        href="https://api.whatsapp.com/send?text=https://eltinto.xyz/el_tinto/?date={{social_media_date}}" class="" target="_blank"
                      >
                        <img 
                          src="https://el-tinto-utils.s3.amazonaws.com/whatsapp_icon.png" 
                          style="width: 40px; height: auto; margin: 0 auto; display: block;"
                        >
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            -->}
            <h2 style="text-align:center;">
              ¿Te reenviaron este correo?
            </h2>
            <p style="text-align:center;">
              Te puedes suscribir a El Tinto en menos de un minuto, ¡es gratis!
            </p>
            <a href="https://eltinto.xyz/suscribirse/" target="_blank" style="color: #FFFFFF; text-decoration: none;">
              <div style="background-color: #5044e4; height: 60px; width: 30%; vertical-align: middle; margin: 40px auto 100px auto; display: table;">
                <p style="text-align: center;">Suscribirse</p>
              </div>
            </a>
            <div style="background-color: #5044e4; padding: 5px 5%;">
              <hr style="width: 100%; border-top: 1px solid #FFFFFF; margin: 20px 0;">
              <p style="color: #FFFFFF; text-align: center; font-size: 12px; margin: 20px 0;">Copyright © El Tinto 2022 Todos 
                los derechos reservados.
              </p>
              <p style="color: #FFFFFF; text-align: center; font-size: 12px; margin: 0;">
                ¿No quieres recibir más estos correos?
              </p>
              <p style="color: #FFFFFF; text-align: center; font-size: 12px; margin: 0;">
                Te puedes desuscribir de esta lista <a href="https://www.eltinto.xyz/desuscribirse/?email={{email}}" target="_blank">aquí</a>.
              </p>
              <p style="color: #FFFFFF; text-align: center; font-size: 12px; margin: 20px 0 0 0;">¿Tienes alguna sugerencia o 
                quisieras que incluyeramos algo nuevo?
              </p>
              <p style="color: #FFFFFF; text-align: center; font-size: 12px; margin: 0">Escríbenos a 
                <a href='mailto:info@eltinto.xyz' style='color: #FFFFFF'>info@eltinto.xyz</a> 
                o responde a este correo y te daremos respuesta antes de que se te enfríe el tintico.
              </p>
              <hr style="width: 100%; border-top: 1px solid #FFFFFF; margin: 20px 0;">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>