{% extends "mailings/daily_mail.html" %}

{% block days_reminder %}
    <div style="padding: 0 5%; margin: 0;">
      <p style="margin: 0">
          Recuerda que si extrañas nuestro sabor diario en tus mañanas o sientes que
          no te despiertas con toda la energía que te da un buen Tinto, siempre puedes personalizar tus días
        <a ses:no-track href="https://www.{{ env }}eltinto.xyz/personalizar/?email={{ email }}" target="_blank">haciendo click aquí</a>.
      </p>
    </div>
    <hr style="width:100%;border-top:2px solid #eaeaea;margin: 20px 0">
{% endblock %}

