{% extends "mailings/daily_mail_base.html" %}

{% block referral_hub %}
    <table>
        <tr>
            <td>
                <h2 style="margin-top: 0">¡Refiera y gane premios!</h2>
                <p>
                    Si El Tinto lo ayuda a informarse, estamos seguros de que también podemos ayudarle a sus amigos y
                    familiares. No nos tenga en secreto, comparta su enlace único.
                </p>
                <p>
                    Y para que vea lo comprometidos que estamos, no solo le ayudamos a gritarlo a los cuatro vientos,
                    ¡también lo premiamos!
                </p>
                <img
                    src="https://el-tinto-utils.s3.amazonaws.com/referral_program/giff_premios_v2.gif"
                    style="display: block; width: 100%; margin: 0"
                >
                <h3 style="margin-top: 30px;">
                  <strong>Su número de referidos: {{ referred_users_count }}</strong>
                </h3>
                <a
                    ses:no-track
                    href="https://{{ env }}api.eltinto.xyz/users/user_visits/?user={{ uuid }}&mail={{ mail_id }}&type=RH"
                    target="_blank"
                    style="color: #FFFFFF; text-decoration: none !important;"
                    class="suscribeLink"
                >
                  <div style="background-color: #8884fc; height: 60px; vertical-align: middle; margin: 0 0 40px 0; display: table; width: 60%; max-width: 250px">
                    <p style="text-align: center;">Haga click para compartir</p>
                  </div>
                </a>
                <h3 style="margin-top: 30px;">
                  <strong>O copie y pegue su enlace único: <br> {{ env }}eltinto.xyz/?referral_code={{referral_code}}</strong>
                </h3>
            </td>
        </tr>
        {% if user_tier %}
            <tr>
                <td>
                    <h2 style="margin-top: 0">¡Administre los beneficios de su suscripción!</h2>
                    <p>
                        Recuerde que siempre puede administrar los beneficios de su suscripción
                        <a
                            ses:no-track
                            href="https://{{ env }}eltinto.xyz/mi-club-de-cata/{{ uuid }}/"
                            target="_blank"
                        >
                            haciendo click en este link.
                        </a>
                    </p>
                </td>
            </tr>
        {% endif %}
    </table>
{% endblock %}