{% extends "mailings/base_mail.html" %}

{% block mail %}
    <table style="width: 100%">
      <tbody>
        <tr>
          <td>
            <img
              src="https://el-tinto-utils.s3.amazonaws.com/logos/el_tinto_imagotipo.png"
              style="margin: 0 auto 50px auto; display: block; width: 75%"
            />
            <hr style="width:100%;border-top:2px solid #eaeaea;margin: 20px 0">
            <div style="padding: 0 5%; margin: 10px 0 40px 0;">
              {{html}}
              <p>
                  ¡Nos vemos mañana temprano para tomar El Tinto!
                  <br>
                  <br>
                  Alejandro, Charlie y Paula - cofundadores de El Tinto ☕
              </p>
            </div>
            <div style="background-color: #5044e4; padding: 5px 5%;">
              <hr style="width: 100%; border-top: 1px solid #FFFFFF; margin: 20px 0;">
              <p style="color: #FFFFFF; text-align: center; font-size: 12px; margin: 20px 0;">Copyright © El Tinto 2022 Todos
                los derechos reservados.
              </p>
              <p style="color: #FFFFFF; text-align: center; font-size: 12px; margin: 20px 0 0 0;">¿Tienes alguna sugerencia o
                quisieras que incluyamos algo nuevo?
              </p>
              <p style="color: #FFFFFF; text-align: center; font-size: 12px; margin: 0">Escríbenos a
                <a href='mailto:info@eltinto.xyz' style='color: #FFFFFF !important;'>info@eltinto.xyz</a>
                o responde a este correo y te daremos respuesta tan pronto como podamos
              </p>
              <hr style="width: 100%; border-top: 1px solid #FFFFFF; margin: 20px 0;">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
{% endblock %}