{% extends "mailings/base_mail.html" %}

{% block mail %}
      <tbody>
        <tr>
          <td>
            <img
              src="https://el-tinto-utils.s3.amazonaws.com/logos/el_tinto_imagotipo.png"
              style="margin: 0 auto 50px auto; display: block; width: 75%"
            />
            <hr style="width:100%;border-top:2px solid #eaeaea;margin: 20px 0">
            <div style="padding: 0 5%; margin: 10px 0 20px 0;">
                {{ html }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
{% endblock %}