{% extends "mailings/sunday_mail_base.html" %}

{% block missing_emails_reminder %}
    {% if not has_sunday_mails_prize %}
        <div style="padding: 0 5%; margin: 0;">
          <p style="margin: 0">
              {% if missing_sunday_mails > 0 %}
                  Te quedan {{ missing_sunday_mails }} tintos domingueros más por disfrutar. Pero no te preocupes,
                  nuestro inigualable sabor siempre puede llegar de nuevo a tus manos para que ni siquiera los domingos
                  nos extrañes. Solo debes aumentar tu número de referidos hasta un total de 3 y hacer click en
                  "Haz click en compartir" al final de cualquier correo para reclamar tu Dominguero.
              {% else %}
                  Te has quedado sin el sabor de nuestro dominguero 😔. Tranquilo, entendemos lo difícil que es vivir sin un
                  buen Tinto. Pero no te preocupes, nuestro inigualable sabor siempre puede llegar de nuevo a tus manos para
                  que ni siquiera los domingos nos extrañes. Solo debes aumentar tu número de referidos hasta un total de 3 y hacer click en
                  "Haz click en compartir" al final de cualquier correo para reclamar tu Dominguero.
              {% endif %}
          </p>
        </div>
        <hr style="width:100%;border-top:2px solid #eaeaea;margin: 20px 0">
    {% endif %}
{% endblock %}

{% block referral_hub %}
    <table>
        <tr>
            <td>
                <h2 style="margin-top: 0">¡Refiere El Tinto!</h2>
                <p>
                    Regálale al mundo la posibilidad de iniciar los días con el buen aroma y el delicioso sabor de
                    las historias más importantes en solo cinco minutos.
                </p>
                <p>
                    No nos tengas en secreto, ya es hora de que todo el mundo se entere. Y para que veas lo
                    comprometidos que estamos, no solo te ayudamos a gritarlo a los cuatro vientos,
                    ¡también te premiamos!
                </p>
                <img
                    src="https://el-tinto-utils.s3.amazonaws.com/referral_program/giff_premios_v2.gif"
                    style="display: block; width: 100%; margin: 0"
                >
                <h3 style="margin-top: 30px;">
                  <strong>Tu número de referidos: {{ referred_users_count }}</strong>
                </h3>
                <a ses:no-track
                   href="https://{{ env }}api.eltinto.xyz/users/user_visits/?user={{ uuid }}&mail={{ mail_id }}&type=RH"
                   target="_blank"
                   style="color: #FFFFFF; text-decoration: none !important;"
                   class="suscribeLink"
                >
                  <div style="background-color: #8884fc; height: 60px; vertical-align: middle; margin: 0 0 40px 0; display: table; width: 60%; max-width: 250px">
                    <p style="text-align: center;">Haz click para compartir</p>
                  </div>
                </a>
                <h3 style="margin-top: 30px;">
                  <strong>O copia y pega tu link de referidos: <br> {{ env }}eltinto.xyz/suscribirse/?referral_code={{referral_code}}</strong>
                </h3>
            </td>
        </tr>
    </table>
{% endblock %}

{% block footer %}
    <div style="background-color: #5044e4; padding: 5px 5%;">
      <hr style="width: 100%; border-top: 1px solid #FFFFFF; margin: 20px 0;">
      <p style="color: #FFFFFF; text-align: center; font-size: 12px; margin: 20px 0;">Copyright © El Tinto 2022 Todos
        los derechos reservados.
      </p>
      <p style="color: #FFFFFF; text-align: center; font-size: 12px; margin: 0;">
        ¿No quieres recibir más estos correos?
      </p>
      <p style="color: #FFFFFF; text-align: center; font-size: 12px; margin: 0;">
        Te puedes desuscribir de esta lista
          <a ses:no-track href="https://www.{{ env }}eltinto.xyz/desuscribirse/personalizar/?user={{uuid}}&user_name={{ name }}"
            target="_blank"
            style="color: #FFFFFF !important; text-decoration: underline !important"
          >
              aquí
          </a>.
      </p>
      <p style="color: #FFFFFF; text-align: center; font-size: 12px; margin: 20px 0 0 0;">¿Tienes alguna sugerencia o
        quisieras que incluyéramos algo nuevo?
      </p>
      <p style="color: #FFFFFF; text-align: center; font-size: 12px; margin: 0">Escríbenos a
        <a
          ses:no-track href='mailto:info@eltinto.xyz'
          style='color: #FFFFFF !important; text-decoration: none !important;'
        >
          info@eltinto.xyz
        </a>
        o responde a este correo y te daremos respuesta antes de que se te enfríe el tintico.
      </p>
      <hr style="width: 100%; border-top: 1px solid #FFFFFF; margin: 20px 0;">
    </div>
{% endblock %}