{% extends "errors_base.html" %}

{% block title %}El Tinto{% endblock %}

{% block style %}

<style>
    a div {
        background-color: #5044e4; 
        border-radius: 12px; 
        height: 45px;
        color: #FFFFFF;
        font-size: 18px;
        border: none;
        cursor: pointer;
    }
</style>

{% endblock %}

{% block content %}

<div class="col-md-7 col-11">
    <div class="row justify-content-center py-5">
        <img src="https://el-tinto-utils.s3.amazonaws.com/el_tinto_logo.png" 
            style="margin: 0 auto; width: 35%; min-width: 235px;"
        />
        <h2 style="text-align: center">500 Server Error</h2>
    </div>
    <div class="row justify-content-center py-5">
        <h3 style="text-align: center">
            <strong>Aparentemente alguno de nuestros ingenieros confundió El Tinto con un café irlandés y se tomó demasiados</strong>
            <br> 
            <br> 
            No te preocupes, tenemos una política sencilla para estos casos, si alguien mete la pata
            ¡hay tabla! 
            <br>
            Mientras repartimos los azotes necesarios, no dejes que se enfríe tu Tinto y síguenos leyendo aquí
            <br>
            <br>
            👇🏻
        </h3>
        <a href="https://eltinto.xyz/el_tinto/" style="color: #FFFFFF; text-decoration: none;">
            <div style="background-color: #5044e4; height: 40px; width: 30%; display: table; margin: 40px auto 100px auto;">
              <p style="text-align: center; margin: 1rem !important">El Tinto</p>
            </div>
          </a>
    </div>
</div>

{% endblock %}