{% extends "base.html" %}

{% block meta_tags %}
    <meta property="og:title" content="El Tinto - Suscribirse" />
    <meta property="og:url" content="https://eltinto.xyz/suscribirse/" />
{% endblock %}

{% block title %}El Tinto - Suscribirse{% endblock %}

{% block content %}
<div class="col-md-7 col-11">
    <div class="row justify-content-center py-5">
        <img
            src="https://el-tinto-utils.s3.amazonaws.com/el_tinto_logo.png"
            style="margin: 0 auto; width: 35%; min-width: 235px;"
        />
    </div>
    <div class="row">
        {% if not valid %}
            <div class="col-12 px-4 px-md-0 py-md-5 pt-5 pb-0" style="background-color: #5044e4; border-radius: 12px;">
                <div class="row text-color justify-content-center">
                    <div class="col-12 col-md-11">
                        <h2 class="strong-text dynamic-align">Historias importantes para gente ocupada</h2>
                    </div>
                </div>
                <div class="row text-center justify-content-center" style="padding: 10px 0">
                    <div class="col-md-8 col-12">
                        <p class="subtext" style="text-align: justify">
                            Si un Tinto diario te está dando un poco de gastritis, siempre puedes ajustar la frecuencia
                            en la que te lo tomas. Más seguidito para que el sabor no se te vaya de la boca, o solo un
                            par de veces a la semana para despertarte cuando creas que lo necesites.
                        </p>
                    </div>
                </div>
                    <div class="container" style="padding: 20px 0">
                        <form method="POST" class="needs-validation" novalidate>
                        {% csrf_token %}
                            <div class="row justify-content-center">
                                <div class="col-12 col-md-8 pb-5">
                                    <div class="input-group has-validation">
                                        <input type="email" class="form-control" id="email" name="email" style="padding: 12px" placeholder="tu@correo.com" required>
                                        <div class="invalid-feedback text-color">
                                            Por favor ingrese un correo válido
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-color strong-text justify-content-center" style="font-size: 20px">
                                <div class="col-12 col-md-8">
                                    <p>¡Personaliza tu frecuencia!</p>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-8 col-12">
                                    <div class="form-check form-switch py-2">
                                      <input class="form-check-input" name="0" type="checkbox" checked>
                                      <label class="form-check-label">Lunes</label>
                                    </div>
                                    <div class="form-check form-switch py-2">
                                      <input class="form-check-input" name="1" type="checkbox" checked>
                                      <label class="form-check-label">Martes</label>
                                    </div>
                                    <div class="form-check form-switch py-2">
                                      <input class="form-check-input" name="2" type="checkbox" checked>
                                      <label class="form-check-label">Miércoles</label>
                                    </div>
                                    <div class="form-check form-switch py-2">
                                      <input class="form-check-input" name="3" type="checkbox" checked>
                                      <label class="form-check-label">Jueves</label>
                                    </div>
                                    <div class="form-check form-switch py-2">
                                      <input class="form-check-input" name="4" type="checkbox" checked>
                                      <label class="form-check-label">Viernes</label>
                                    </div>
                                    <div class="form-check form-switch py-2">
                                      <input class="form-check-input" name="5" type="checkbox" checked>
                                      <label class="form-check-label">Sábado</label>
                                    </div>
                                    <div class="form-check form-switch py-2">
                                      <input class="form-check-input" name="6" type="checkbox" checked>
                                      <label class="form-check-label">Domingo</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12 col-md-8">
                                    <button type="submit" class="btn button mt-4 text-color strong-text shadow-sm" style="padding: 12px">Actualizar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-12 px-4 px-md-0 py-md-5 pt-5 pb-0" style="background-color: #d2f8d2; border-radius: 12px;">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-11">
                        {% if name %}
                            <h3 style="color: #4D934D; text-align: justify;">Hola {{name}},</h3>
                        {% else %}
                            <h3 style="color: #4D934D; text-align: justify;">Hola,</h3>
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-11">
                        <p class="strong-text" style="color: #4D934D; font-size: 18px; text-align: justify;">
                            Acabas de personalizar los días en los que quieres recibir tu Tinto.
                            <br />
                            <br />
                            Pronto recibirás un correo de confirmación para asegurarnos de que seas solamente tú quien
                            define qué tanta azúcar le quiere echar.
                            Si no está en tu bandeja principal, búscanos en correo no de deseado y sácanos de ahí siguiendo 👉🏻​<a href='https://www.eltinto.xyz/faq/'>estas instrucciones</a>👈🏻​
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block script %}
<script>

    function checkAtLeastOneDay(){
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        var checkedOne = Array.prototype.slice.call(checkboxes).some(x => x.checked);
        if (!checkedOne){
            Swal.fire({
            title: 'Error!',
            text: 'Debes seleccionar al menos un día de la semana',
            icon: 'error',
            confirmButtonText: 'Cool'
          })
        }
        return checkedOne;
    }

    // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
      .forEach(function (form) {
          form.addEventListener('submit', function (event) {
          if (!form.checkValidity() && !checkAtLeastOneDay()) {
              event.preventDefault()
              event.stopPropagation()
          }

          form.classList.add('was-validated')
          }, false)
      })
  })()

  window.onload = function() {
    var error = "{{ error }}";
    if (error){
        Swal.fire({
            title: 'Error!',
            text: error,
            icon: 'error',
            confirmButtonText: 'Cool'
          })
    }
  };
</script>
{% endblock %}