{% extends "base.html" %}

{% block meta_tags %}
    <meta property="og:title" content="El Tinto - Personalizar" />
    <meta property="og:url" content="https://eltinto.xyz/personalizar/" />
{% endblock %}

{% block title %}El Tinto - Personalizar{% endblock %}

{% block style %}
    <style>
        .form-check-input:checked {
            background-color: #4D934D;
            border-color: #4D934D;
        }
    </style>
{% endblock %}

{% block content %}
<div class="col-md-7 col-11">
    <div class="row justify-content-center py-5">
        <img
            src="https://el-tinto-utils.s3.amazonaws.com/logos/el_tinto_logo.png"
            style="margin: 0 auto; width: 75%; min-width: 235px;"
            alt="El Tinto"
        />
    </div>
    <div class="row">
        {% if not valid %}
            <div class="col-12 px-4 px-md-0 py-md-5 pt-5 pb-0" style="background-color: #5044e4; border-radius: 12px;">
                <div class="row text-color justify-content-center">
                    <div class="col-12 col-md-11">
                        <h2 class="strong-text dynamic-align">Historias importantes para gente ocupada</h2>
                    </div>
                </div>
                <div class="row text-center justify-content-center" style="padding: 10px 0">
                    <div class="col-md-8 col-12">
                        {% if name %}
                            <p class="subtext" style="text-align: justify; margin-top: 40px">Hola {{ name }},</p>
                        {% else %}
                            <p class="subtext" style="text-align: justify; margin-top: 40px">Hola {{ email }},</p>
                        {% endif %}
                        <p class="subtext" style="text-align: justify">
                            {% if unsuscribe %}
                                Antes de irte, personaliza la frecuencia con la que te informas de las historias más importantes.
                                <br>
                                <br>
                            {% endif %}
                            Recibe El Tinto <span style="color: #FFFFFF"><strong>los días que tú prefieras</strong></span>.
                            Acá entre nos, yo no dejaría ir los Tinticos domingueros 😉
                        </p>
                    </div>
                </div>
                    <div class="container" style="padding: 20px 0">
                        <form method="POST" class="needs-validation">
                        {% csrf_token %}
                            <div class="row justify-content-center" style="display: none">
                                <div class="col-12 col-md-8 pb-5">
                                    <div class="input-group has-validation">
                                        <input
                                            type="email"
                                            class="form-control"
                                            value={{ email }}
                                            id="email"
                                            name="email"
                                            style="padding: 12px"
                                            placeholder="tu@correo.com"
                                            required
                                        >
                                        <div class="invalid-feedback text-color">
                                            Por favor ingrese un correo válido
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-color strong-text justify-content-center" style="font-size: 20px">
                                <div class="col-12 col-md-8">
                                    <p>¡Personaliza tu frecuencia!</p>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-8 col-12">
                                    <div class="form-check form-switch py-2">
                                      <input class="form-check-input" name="0" type="checkbox" checked>
                                      <label class="form-check-label">Lunes</label>
                                    </div>
                                    <div class="form-check form-switch py-2">
                                      <input class="form-check-input" name="1" type="checkbox" checked>
                                      <label class="form-check-label">Martes</label>
                                    </div>
                                    <div class="form-check form-switch py-2">
                                      <input class="form-check-input" name="2" type="checkbox" checked>
                                      <label class="form-check-label">Miércoles</label>
                                    </div>
                                    <div class="form-check form-switch py-2">
                                      <input class="form-check-input" name="3" type="checkbox" checked>
                                      <label class="form-check-label">Jueves</label>
                                    </div>
                                    <div class="form-check form-switch py-2">
                                      <input class="form-check-input" name="4" type="checkbox" checked>
                                      <label class="form-check-label">Viernes</label>
                                    </div>
                                    <div class="form-check form-switch py-2">
                                      <input class="form-check-input" name="5" type="checkbox" checked>
                                      <label class="form-check-label">Sábado</label>
                                    </div>
                                    <div class="form-check form-switch py-2">
                                      <input class="form-check-input" name="6" type="checkbox" checked>
                                      <label class="form-check-label">Domingo (Tinto Dominguero)</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                {% if unsuscribe %}
                                    <div class="col-12 col-md-4">
                                        <button type="submit" class="btn button mt-4 text-color strong-text shadow-sm" style="padding: 12px">Solicitar actualización</button>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <a href="{% url 'unsuscribe' %}?email={{ email }}" class="btn button mt-4 text-color strong-text shadow-sm" style="padding: 12px">Desuscribirme 🥺</a>
                                    </div>
                                {% else %}
                                    <div class="col-12 col-md-8">
                                        <button type="submit" class="btn button mt-4 text-color strong-text shadow-sm" style="padding: 12px">Solicitar actualización</button>
                                    </div>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-12 px-4 px-md-0 py-md-5 pt-5 pb-0">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-11">
                        <img src="https://el-tinto-utils.s3.amazonaws.com/email_icon.jpeg"
                        style="width: 100px; display: block; margin: 0 auto">
                        {% if name %}
                            <h3 style="text-align: center">¡{{name}} revisa tu correo!</h3>
                        {% else %}
                            <h3 style="text-align: center">¡Revisa tu correo!</h3>
                        {% endif %}
                        <p style="text-align: center">
                            Pronto recibirás un correo de confirmación para asegurarnos de que seas solamente tú quien
                            define qué tan seguido nos tomas.
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block script %}
<script>

    function checkAtLeastOneDay(){
        const checkboxes = document.querySelectorAll('input[type="checkbox"]');
        const checkedOne = Array.prototype.slice.call(checkboxes).some(x => x.checked);
        if (!checkedOne){
            Swal.fire({
            title: 'Error!',
            text: 'Debes seleccionar al menos un día de la semana',
            icon: 'error',
            confirmButtonText: 'Cool'
          })
        }
        return checkedOne;
    }

    // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
      .forEach(function (form) {
          form.addEventListener('submit', function (event) {
          if (!checkAtLeastOneDay()) {
              event.preventDefault()
              event.stopPropagation()
          }
          }, false)
      })
  })()

  window.onload = function() {
    const error = "{{ error }}";
    if (error){
        Swal.fire({
            title: 'Error!',
            text: error,
            icon: 'error',
            confirmButtonText: 'Cool'
          })
    }
  };
</script>
{% endblock %}