{% extends "base.html" %}

{% load social_share %}

{% block title %}El Tinto{% endblock %}

{% block style %}

<style>
    h1 {
        font-size: 46px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    hr {
        opacity: 1;
    }
    a {
        color: #348286;
    }
    a div {
        background-color: #5044e4; 
        border-radius: 12px; 
        height: 45px;
        color: #FFFFFF;
        font-size: 18px;
        border: none;
        cursor: pointer;
    }
    .main {
        padding: 20px 5%;
    }
    @media only screen and (min-width: 768px) {
        .main {
            padding: 20px 26%;
        }
    }
</style>

{% endblock %}

{% block content %}

<body>
  <div class="main">
    <table style="width: 100%">
      <tbody>
        <tr>
          <td>
            <img src="https://el-tinto-utils.s3.amazonaws.com/el_tinto_logo.png" style="margin: 0 auto; display: block;"/>
            <div style="background-color: #5044e4; height: 60px; width: 100%; display: table; margin: 20px 0;">
              <h2 style="color: #FFFFFF; text-align:center; vertical-align: middle; display: table-cell; padding: 0 30px;">
                Historias importantes para gente ocupada
              </h2>
            </div>
            <div style="padding: 0 5%; margin: 10px 0 20px 0;">
              <p>
                Un correo diario con lo más relevante del momento en Colombia, curado con los medios 
                más rigurosos e independientes.
              </p>
              <p>
                ¿No te llegan los correos a la bandeja principal? Revisa cómo evitarlo en nuestro FAQ 
                <a href="https://www.eltinto.xyz/faq/" target="_blank">haciendo click aquí</a>.
              </p>
            </div>
            <hr style="width: 100%; border-top: 2px solid #eaeaea;">
            <p style="text-align:center; margin: 40px 0; color: #696969; font-size: 18px">{{date}}</p>
            <hr style="width: 100%; border-top: 2px solid #eaeaea;">
            <h3 style="text-align:justify">
                <strong>
                    {% if name %}
                    Buenos días {{ name }}, este es El Tinto de hoy.
                    {% else %}
                    Buenos días, este es El Tinto de hoy.
                    {% endif %}
                </strong>
            </h3>
              {{html}}
            <h3 style="text-align: center; margin-top: 60px;">
              <strong>¿Te gustó nuestro sabor y quieres compartirlo en tus redes?</strong>
            </h3>
            <table style="width: 40%; margin: 60px auto 0 auto;">
              <tbody>
                <tr>
                  <td>
                    {% post_to_facebook suggested_tweet social_media_date '<i class="fab fa-facebook fa-2xl" style="color: #4267B2"></i>' %}
                  </td>
                  <td>
                    {% post_to_twitter suggested_tweet social_media_date '<i class="fab fa-twitter fa-2xl" style="color: #1DA1F2"></i>' %}
                  </td>
                  <td>
                    {% post_to_whatsapp suggested_tweet social_media_date '<i class="fab fa-whatsapp fa-2xl" style="color: #087404"></i>' %}
                  </td>
                </tr>
              </tbody>
            </table>
            <h2 style="text-align:center; margin: 60px 0 0 0">
              <strong>También te puedes suscribir a El Tinto en menos de un minuto, ¡es gratis!</strong>
            </h2>
            <a href="https://eltinto.xyz/suscribirse/" style="color: #FFFFFF; text-decoration: none;">
              <div style="background-color: #5044e4; height: 40px; width: 30%; display: table; margin: 40px auto 100px auto;">
                <p style="text-align: center; margin: 1rem !important">Suscribirse</p>
              </div>
            </a>
            <div style="background-color: #5044e4; padding: 5px 5%;">
              <hr style="width: 100%; border-top: 1px solid #FFFFFF; margin: 20px 0;">
              <p style="color: #FFFFFF; text-align: center; font-size: 12px; margin: 20px 0;">Copyright © El Tinto 2022 Todos 
                los derechos reservados.
              </p>
              <p style="color: #FFFFFF; text-align: center; font-size: 12px; margin: 20px 0 0 0;">¿Tienes alguna sugerencia o 
                quisieras que incluyeramos algo nuevo?
              </p>
              <p style="color: #FFFFFF; text-align: center; font-size: 12px; margin: 0">Escríbenos a 
                <a href='mailto:info@eltinto.xyz' style='color: #FFFFFF'>info@eltinto.xyz</a> 
                y te daremos respuesta antes de que se te enfríe el tintico.
              </p>
              <hr style="width: 100%; border-top: 1px solid #FFFFFF; margin: 20px 0;">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

{% endblock %}