{% extends "base.html" %}
{% load django_template_maths %}

{% block meta_tags %}
    <meta property="og:title" content="El Tinto - Referidos" />
    <meta property="og:url" content="https://eltinto.xyz/referidos/" />
{% endblock %}

{% block title %}El Tinto - Referidos{% endblock %}

{% block style %}
    <style>
        .bookmarkRibbon {
          width: 100%;
          background: linear-gradient(90deg, rgba(255,255,255,1) 11%, rgba(32,44,84,1) 12%);
          clip-path: polygon(0% 0%, 100% 0%, calc(100% - 20px) 50%, 100% 100%, 0% 100%);
        }
        .ribbonString {
            font-size: 15px;
        }
        .cardTextSize {
            font-size: 9px;
            text-align: center;
            margin-bottom: 0;
        }
        .cardNumberSize {
            font-size: 16px;
            text-align: center;
            font-weight: 700;
        }
        @media only screen and (min-width: 1200px) {
            .ribbonString {
                font-size: 24px;
            }
            .cardTextSize {
                font-size: 16px;
            }
            .cardNumberSize {
                font-size: 24px;
            }
        }
    </style>
{% endblock %}

{% block content %}

<div class="col-md-7 col-11">
    <div class="row justify-content-center mt-4">
        <div class="col-12">
            <h2 class="strong-text">¡Hola {{ username }}!</h2>
        </div>
        <div class="col-12 mt-3">
            <div class="bookmarkRibbon">
                <div class="row">
                    <div class="col-3">
                        {% if referral_race_position == 1  %}
                            <img
                                width="100%"
                                src="https://el-tinto-utils.s3.amazonaws.com/referral_program/REFERIDOS_ORO.png" />
                        {% elif referral_race_position == 2  %}
                            <img
                                width="100%"
                                src="https://el-tinto-utils.s3.amazonaws.com/referral_program/REFERIDOS_PLATA.png" />
                        {% elif referral_race_position == 3  %}
                            <img
                                width="100%"
                                src="https://el-tinto-utils.s3.amazonaws.com/referral_program/REFERIDOS_BRONCE.png" />
                        {% else %}
                            <img
                                width="100%"
                                src="https://el-tinto-utils.s3.amazonaws.com/referral_program/REFERIDOS_OTROS.png" />
                        {% endif %}
                    </div>
                    <div class="col-9 d-flex align-items-center" style="padding-left: 5px">
                        <p style="color: #FFFFFF; margin: 0" class="ribbonString">
                            {% if referral_race_position == 1  %}
                                Eres el <strong>usuario #1</strong> que más ha recomendado El Tinto.
                            {% elif referral_race_position == 2  %}
                                Eres el <strong>usuario #2</strong> que más ha recomendado El Tinto.
                            {% elif referral_race_position == 3  %}
                                Eres el <strong>usuario #3</strong> que más ha recomendado El Tinto.
                            {% else %}
                                Eres parte del <strong>{{ referral_percentage }}% de usuarios</strong> que más recomienda El Tinto.
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-12">
            <p>
                {% if referral_count < 1 %}
                    Estás a solamente (1) referido de conseguir acceso a <strong>Stickers</strong>!
                {% elif referral_count < 3 %}
                    Estás a solamente {{ 3|sub:referral_count }} referidos de conseguir acceso a <strong>El Tinto Dominguero.</strong>
                {% elif referral_count < 5 %}
                    Estás a solamente {{ 5|sub:referral_count }} referidos de conseguir acceso a <strong>La Cafeteria (Comunidad).</strong>
                {% elif referral_count < 10 %}
                    Estás a solamente {{ 10|sub:referral_count }} referidos de conseguir ser <strong>Embajador de El Tinto.</strong>
                {% elif referral_count < 17 %}
                    Estás a solamente {{ 17|sub:referral_count }} referidos de conseguir un <strong>Mug.</strong>
                {% elif referral_count < 25 %}
                    Estás a solamente {{ 25|sub:referral_count }} referidos de conseguir una <strong>Gorra.</strong>
                {% elif referral_count < 50 %}
                    Estás a solamente {{ 50|sub:referral_count }} referidos de conseguir una <strong>Bolsa de Café.</strong>
                {% endif %}
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12">
            <p><strong>Tu número de referidos: {{ referral_count }}</strong></p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-3" style="padding: 1%">
            <div class="card" style="border-color: #5044e4; border-width: 3px">
              <img src="https://el-tinto-utils.s3.amazonaws.com/referral_program/REFERRAL_PREMIO_1_STICKERS.png" class="card-img-top" style="padding: 0 5%" alt="Card image cap">
              <div class="card-body" style="padding: 0 10% 10% 10%">
                <p class="card-text cardTextSize">Stickers de whatsapp</p>
                <p class="card-text cardNumberSize">1</p>
              </div>
            </div>
        </div>
        <div class="col-3" style="padding: 1%">
            <div class="card" style="border-color: #5044e4; border-width: 3px">
              <img src="https://el-tinto-utils.s3.amazonaws.com/referral_program/REFERRAL_PREMIO_2_DOMINGUERO.png" class="card-img-top" style="padding: 0 5%" alt="Card image cap">
              <div class="card-body" style="padding: 0 10% 10% 10%">
                <p class="card-text cardTextSize">Tinto<br>Dominguero</p>
                <p class="card-text cardNumberSize">3</p>
              </div>
            </div>
        </div>
        <div class="col-3" style="padding: 1%">
            <div class="card" style="border-color: #5044e4; border-width: 3px">
              <img src="https://el-tinto-utils.s3.amazonaws.com/referral_program/REFERRAL_PREMIO_3_COMUNIDAD.png" class="card-img-top" style="padding: 0 5%" alt="Card image cap">
              <div class="card-body" style="padding: 0 10% 10% 10%">
                <p class="card-text cardTextSize">La Cafeteria (Comunidad)</p>
                <p class="card-text cardNumberSize">5</p>
              </div>
            </div>
        </div>
        <div class="col-3" style="padding: 1%">
            <div class="card" style="border-color: #5044e4; border-width: 3px">
              <img src="https://el-tinto-utils.s3.amazonaws.com/referral_program/REFERRAL_PREMIO_4_CHARLAS.png" class="card-img-top" style="padding: 0 5%" alt="Card image cap">
              <div class="card-body" style="padding: 0 10% 10% 10%">
                <p class="card-text cardTextSize">Charlas con El Tinto</p>
                <p class="card-text cardNumberSize">10</p>
              </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-3" style="padding: 1%">
            <div class="card" style="border-color: #5044e4; border-width: 3px">
              <img src="https://el-tinto-utils.s3.amazonaws.com/referral_program/REFERRAL_PREMIO_5_MUG.png" class="card-img-top" style="padding: 0 5%" alt="Card image cap">
              <div class="card-body" style="padding: 0 10% 10% 10%">
                <p class="card-text cardTextSize">Mug</p>
                <p class="card-text cardNumberSize">17</p>
              </div>
            </div>
        </div>
        <div class="col-3" style="padding: 1%">
            <div class="card" style="border-color: #5044e4; border-width: 3px">
              <img src="https://el-tinto-utils.s3.amazonaws.com/referral_program/REFERRAL_PREMIO_6_GORRA.png" class="card-img-top" style="padding: 0 5%" alt="Card image cap">
              <div class="card-body" style="padding: 0 10% 10% 10%">
                <p class="card-text cardTextSize">Gorra</p>
                <p class="card-text cardNumberSize">25</p>
              </div>
            </div>
        </div>
        <div class="col-3" style="padding: 1%">
            <div class="card" style="border-color: #5044e4; border-width: 3px">
              <img src="https://el-tinto-utils.s3.amazonaws.com/referral_program/REFERRAL_PREMIO_7_CAF%C2%90.png" class="card-img-top" style="padding: 0 5%" alt="Card image cap">
              <div class="card-body" style="padding: 0 10% 10% 10%">
                <p class="card-text cardTextSize">Café</p>
                <p class="card-text cardNumberSize">50</p>
              </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-4 p-4 shadow" style="background-color: #f8f4f4; border-radius: 12px">
        <div class="col-12">
            <h2 class="strong-text" style="font-size: 20px">Comparte por redes sociales</h2>
        </div>
        <div class="col-12">
            <p>Suma referidos compartiendo tu link personalizado</p>
        </div>
        <div class="col-12">
            <div class="row" style="padding: 0 12px;">
                <div class="col-lg-1 col-2" style="padding: 0">
                    <img
                      src="https://el-tinto-utils.s3.amazonaws.com/share_individual_news/ALPHA_MENU_BG_SHARE.png"
                      style="display: block; width: 100%"
                    >
                </div>
                <div class="col-lg-1 col-2" style="padding: 0">
                    <a
                        href="https://api.whatsapp.com/send?text={{ invite_users_message }}https://{{ env }}eltinto.xyz/suscribirse/?referral_code={{ referral_code }}"
                        target="_blank"
                    >
                        <img
                          src="https://el-tinto-utils.s3.amazonaws.com/share_individual_news/ALPHA_MENU_BG_WA.png"
                          style="display: block; width: 100%"
                        >
                    </a>
                </div>
                <div class="col-lg-1 col-2" style="padding: 0">
                    <a
                        href="https://www.facebook.com/sharer/sharer.php?u={{ invite_users_message }}https://{{ env }}eltinto.xyz/suscribirse/?referral_code={{ referral_code }}"
                        target="_blank"
                    >
                        <img
                          src="https://el-tinto-utils.s3.amazonaws.com/share_individual_news/ALPHA_MENU_BG_FB.png"
                          style="display: block; width: 100%"
                        >
                    </a>
                </div>
                <div class="col-lg-1 col-2" style="padding: 0">
                    <a
                        href="https://twitter.com/intent/tweet?text={{ invite_users_message }}https://{{ env }}eltinto.xyz/suscribirse/?referral_code={{ referral_code }}"
                        target="_blank"
                    >
                        <img
                          src="https://el-tinto-utils.s3.amazonaws.com/share_individual_news/ALPHA_MENU_BG_TW.png"
                          style="display: block; width: 100%"
                        >
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center shadow p-4 mb-3 mt-2" style="border-radius: 12px">
        <div class="col-12">
            <h2 class="strong-text" style="font-size: 20px">Comparte tu link personalizado</h2>
        </div>
        <div class="col-12">
            <p>Combate la desinformación y salva un bebé panda (ok, no) compartiendo El Tinto con los demás.</p>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-md-8 col-12">
                    <div class="mb-3">
                        <input
                            style="font-size: 14px"
                            type="email" disabled class="form-control" id="share_link_value" value="https://{{ env }}eltinto.xyz/suscribirse/?referral_code={{ referral_code }}">
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <button type="button" class="btn btn-primary position-relative" style="background-color: #5044e4; border: 0; border-radius: 12px" id="share_link_button">
                      <i class="fa fa-copy" style="margin-right: 5px"></i>Copiar link
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div style="background-color: #5044e4; padding: 5px 5%;">
            <hr style="width: 100%; border-top: 1px solid #FFFFFF; margin: 20px 0;">
            <p style="color: #FFFFFF; text-align: center; font-size: 12px; margin: 20px 0;">Copyright © El Tinto 2022 Todos
              los derechos reservados.
            </p>
            <p style="color: #FFFFFF; text-align: center; font-size: 12px; margin: 20px 0 0 0;">¿Tienes alguna sugerencia o
              quisieras que incluyeramos algo nuevo?
            </p>
            <p style="color: #FFFFFF; text-align: center; font-size: 12px; margin: 0">Escríbenos a
              <a href='mailto:info@eltinto.xyz' style='color: #FFFFFF'>info@eltinto.xyz</a>
              y te daremos respuesta antes de que se te enfríe el tintico.
            </p>
            <hr style="width: 100%; border-top: 1px solid #FFFFFF; margin: 20px 0;">
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
   const copyButton = document.getElementById('share_link_button');
    copyButton.addEventListener('click', (event) => {
        // getting the text content that we want to copy
        const content = document.getElementById('share_link_value').value;
        console.log(content)
        // loading the content into our clipboard
        navigator.clipboard.writeText(content);
    })
</script>
{% endblock %}
