{% extends "base.html" %}

{% block meta_tags %}
    <meta property="og:title" content="El Tinto - Suscribirse" />
    <meta property="og:url" content="https://eltinto.xyz/suscribirse/" />
{% endblock %}

{% block title %}El Tinto - Suscribirse{% endblock %}

{% block content %}
<div class="col-md-7 col-11">
    <div class="row justify-content-center py-5">
        <img 
            src={{ el_tinto_imagotype_url }}
            style="margin: 0 auto; width: 75%; min-width: 235px;"
        />
    </div>

    <div class="row">
        {% if not valid %}
            <div class="col-12 px-4 px-md-0 py-md-5 pt-5 pb-0" style="background-color: #5044e4; border-radius: 12px;">
                <div class="row text-color justify-content-center">
                    <div class="col-12 col-md-11">
                        <h2 class="strong-text dynamic-align">Historias importantes para gente ocupada</h2>
                    </div>
                </div>
                <div class="row text-center justify-content-center" style="padding: 10px 0">
                    <div class="col-md-10 col-12">
                        <p class="dynamic-align subtext">
                            Un correo diario con lo más relevante del momento en Colombia, 
                            curado con los medios más rigurosos e independientes.
                        </p>
                    </div>
                </div>
                    <div class="container" style="padding: 20px 0">
                        <form method="POST" class="needs-validation" novalidate>
                        {% csrf_token %}
                            <div class="row justify-content-center">
                                <div class="col-12 col-md-8 pb-5">
                                    <div class="input-group has-validation">
                                        <input type="email" class="form-control" id="email" name="email" style="padding: 12px" placeholder="tu@correo.com" required>
                                        <div class="invalid-feedback text-color">
                                            Por favor ingrese un correo válido
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if referral_code %}
                                <div class="row text-color strong-text justify-content-center" style="font-size: 20px">
                            {% else %}
                                <div class="row text-color strong-text justify-content-center" style="font-size: 20px; display: none">
                            {% endif %}
                                <div class="col-12 col-md-8">
                                    <p>
                                        Este es el código de la persona que te refirió 👀
{#                                        <a href="/faq/" class="p-2" style="color: #FFFFFF">#}
{#                                            <i#}
{#                                                class="fa fa-circle-question"#}
{#                                                data-bs-toggle="tooltip"#}
{#                                                data-bs-placement="right"#}
{#                                                title="El Tinto siempre es más rico acompañado. ¡Conoce nuestro sistema#}
{#                                                de referidos!"#}
{#                                            >#}
{#                                            </i>#}
{#                                        </a>#}
                                    </p>
                                </div>
                            </div>
                            {% if referral_code %}
                                <div class="row justify-content-center">
                            {% else %}
                                <div class="row justify-content-center" style="display: none">
                            {% endif %}
                                <div class="col-12 col-md-8 pb-5">
                                    <div class="input-group has-validation">
                                        <input
                                            type="text" class="form-control" id="referral_code"
                                            name="referral_code" style="padding: 12px"
                                            placeholder="Código de referido (Opcional)"
                                            value={{ referral_code }}
                                            readonly
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="row text-color strong-text justify-content-center" style="font-size: 20px">
                                <div class="col-12 col-md-8">
                                    <p>
                                        ¡Ayúdanos a llegar a tu correo!
                                        <a href="/faq/" class="p-2" style="color: #FFFFFF">
                                            <i
                                                class="fa fa-circle-question"
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="right"
                                                title="Personalizar el correo con tu nombre nos ayuda a evitar los
                                                filtros de spam 😉"
                                            >
                                            </i>
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-4 col-12">
                                    <input class="form-control" id="first_name" name="first_name" style="padding: 12px" placeholder="Nombre (Opcional)">
                                </div>
                                <div class="col-md-4 col-12 mt-md-0 mt-2">
                                    <input class="form-control" id="last_name" name="last_name" style="padding: 12px" placeholder="Apellido (Opcional)">
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12 col-md-8">
                                    <button type="submit" class="btn button mt-4 text-color strong-text shadow-sm" style="padding: 12px">Suscríbeme</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-12 px-4 px-md-0 py-md-2 pt-2 pb-0">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-11">
                        <img src="https://el-tinto-utils.s3.amazonaws.com/email_icon.jpeg"
                        style="width: 100px; display: block; margin: 0 auto">
                        {% if name %}
                            <h3 style="text-align: center">{{name}}, ¡revisa tu correo!</h3>
                        {% else %}
                            <h3 style="text-align: center">¡Revisa tu correo!</h3>
                        {% endif %}
                        <p style="text-align: center">
                            Pronto recibirás un correo de bienvenida para que empieces a degustarnos todas las mañanas.
                        </p>
                        {% if email_provider != 'gmail' %}
                            <p style="text-align: center">
                                Si no te llegó a la carpeta principal <strong style="color: red; font-size: 22px">abre
                                spam solo por esta vez</strong> y sigue las instrucciones.
                            </p>
                        {% endif %}
                    </div>
                </div>
                {% if email_provider_link %}
                    <div class="row justify-content-center">
                        <a
                            style="width: 250px; box-shadow: 3px 6px #A9A9A9; border: 1px solid #A9A9A9;"
                            class="btn py-3 mt-4 btn-hover"
                            href={{ email_provider_link }}
                            role="button"
                        >
                            <div class="container">
                                <div class="row">
                                    <div class="col-2">
                                        <img
                                            src="https://el-tinto-utils.s3.amazonaws.com/{{ email_provider }}_icon.png"
                                            style="width: 30px; margin: 0 auto"
                                        >
                                    </div>
                                    <div class="col-8">
                                        <p style="margin: 0; text-align: right"><strong>Abrir {{ email_provider|capfirst }}</strong></p>
                                    </div>
                                    <div class="col-2">
                                        <i class="fa fa-lg fa-arrow-up-right-from-square"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
      'use strict'
  
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')
  
      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
      .forEach(function (form) {
          form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
          }
  
          form.classList.add('was-validated')
          }, false)
      })
  })()

  window.onload = function() {
    var error = "{{ error }}";
    if (error){
        Swal.fire({
            title: 'Error!',
            text: error,
            icon: 'error',
            confirmButtonText: 'Cool'
          })
    }
  };
</script>
{% endblock %}