{% extends "base.html" %}

{% block meta_tags %}
    <meta property="og:title" content="El Tinto - ¿Esto cómo se toma?" />
    <meta property="og:url" content="https://eltinto.xyz/" />
{% endblock %}

{% block title %}El Tinto - ¿Esto cómo se toma?{% endblock %}

{% block style %}

<style>
    hr {
        opacity: 1;
    }
    .banner_title {
        font-size: 2.5vw;
        max-width: 40%;
    }
    .banner_subtitle {
        font-size: 2.2vw;
    }
    @media only screen and (max-width: 768px) {
        .banner_title {
            font-size: 16px;
            max-width: 80%;
        }  
        .banner_subtitle {
            font-size: 14px;
        }   
    }
</style>

{% endblock %}

{% block content %}
<div class="col-md-7 col-11">
    <div class="row justify-content-center py-5">
        <img src="https://el-tinto-utils.s3.amazonaws.com/el_tinto_logo.png" 
            style="margin: 0 auto; width: 35%; min-width: 235px;"
        />
    </div>
    <div class="row">
        <img src="https://el-tinto-utils.s3.amazonaws.com/home/header_1.png" style="border-radius: 20px;">
        <p
            class="banner_title"
            style="color: #FFFFFF; position: absolute; padding: 30px; min-width: 180px;"
        >
            <strong>El internet tiene mucho ruido, pásalo con El Tinto</strong>
        </p>
        <p
            class="banner_subtitle"
            style="color: #FFFFFF; position: relative; margin: -17% 0 0 0; padding: 30px; min-width: 180px;"
        >
            <strong>Historias importantes para gente ocupada</strong>
        </p>
    </div>
    <hr style="width: 100%; border: 6px solid #382c9c; margin: 20px 0 0 0">
    <hr style="width: 100%; border: 6px solid #5044e4; margin: 0 0 20px 0">
    <div class="row justify-content-center pt-5">
        <div class="col-12 mt-2 mt-md-0">
            <h2 class="strong-text">Y esto, ¿cómo se toma?</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12">
            <p style="font-size: 20px; text-align: justify">
                Calientico y bien cargado. Así llega la información todos los días a los correos de nuestros usuarios. A
                través de un resumen diario con las historias más importantes del momento, <strong>El Tinto</strong> es la mejor 
                alternativa para consumir información curada de medios diversos y con la más alta calidad.
            </p>
        </div>
    </div>
    <hr style="width: 100%; border: 6px solid #382c9c; margin: 20px 0 0 0">
    <hr style="width: 100%; border: 6px solid #5044e4; margin: 0 0 20px 0">
    <div class="row justify-content-center pt-5">
        <div class="col-12 mt-2 mt-md-0">
            <h2 class="strong-text">Pero eso, ¿sí sabe bueno?</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12">
            <p style="font-size: 20px; text-align: justify">
                Hay de todos los sabores y para todos los gustos. <strong>El Tinto</strong> usa como materia prima la 
                información de la más alta calidad, que curada con el ojo crítico y severo de nuestros experimentados 
                periodistas, trae un aroma nuevo y freso a la forma de consumir historias en el país respondiendo 
                a los principales problemas del mercado.
                <br> 
                <br>
                <strong>Demasiadas cosas sucediento al tiempo.</strong> Las personas no tienen ni el tiempo,
                ni el dinero para seguir el ritmo de toda la información disponible aún cuando quieren hacerlo. 
                <br> 
                <br>
                <strong>Los medios tradicionales</strong> son cada vez menos imparciales y más de nicho, generando 
                cámaras de eco. 
                <br> 
                <br>
                <strong>No existe una solución conveniente</strong> que permita informarse de manera rápida, concisa 
                y con información confiable de la más alta calidad.
                <br> 
                <br>
            </p>
        </div>
    </div>
    <hr style="width: 100%; border: 6px solid #382c9c; margin: 20px 0 0 0">
    <hr style="width: 100%; border: 6px solid #5044e4; margin: 0 0 20px 0">
    <div class="row justify-content-center pt-5">
        <div class="col-12 mt-2 mt-md-0">
            <h2 class="strong-text">Pero a mí me gusta es madrugadito para poder despertarme...</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12">
            <p style="font-size: 20px; text-align: justify">
                No se preocupe, a nosotros también porque sino se nos pegan las cobijas. Con un correo diario todos 
                los días a las 6 a.m. esperándolo en su bandeja de entrada, usted podrá despertarse y en tan solo 5 
                minutos, cosa que no se le enfríe, estar al día con las historias más importantes.
            </p>
        </div>
    </div>
    <hr style="width: 100%; border: 6px solid #382c9c; margin: 20px 0 0 0">
    <hr style="width: 100%; border: 6px solid #5044e4; margin: 0 0 20px 0">
    <div class="row justify-content-center pt-5">
        <div class="col-12 mt-2 mt-md-0">
            <h2 class="strong-text">¡Yo quiero una pruebita!</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12">
            <p style="font-size: 20px; text-align: justify">
                La mejor forma de disfrutar de nuestro producto es suscribiéndose a nuestro boletín diario 
                👉🏻​<a href={% url 'suscribe' %}>aquí</a>👈🏻​. No se lo recomendamos nosotros, se lo
                recomiendan nuestros usuarios.
            </p>
            <div class="row" style="margin: 40px 0 0 0">
                <div class="col-md-4 col-12">
                    <img src="https://el-tinto-utils.s3.amazonaws.com/home/user_1.png" 
                        style="margin: 0 auto; display: block;"
                    />
                </div>
                <div class="col-md-8 col-12 my-md-auto mt-4">
                    <p>
                        El Tinto me ayuda a mantenerme al día con los eventos más importantes de mi país. Realmente 
                        no tengo tiempo, así que es perfecto para mí.
                        <br>
                        <br>
                        <strong>Jesús P., Medellín, Desarrollador</strong>
                    </p>
                </div>
            </div>
            <div class="row" style="margin: 40px 0 0 0">
                <div class="col-md-4 col-12">
                    <img src="https://el-tinto-utils.s3.amazonaws.com/home/user_2.png" 
                        style="margin: 0 auto; display: block;"
                    />
                </div>
                <div class="col-md-8 col-12 my-md-auto mt-4">
                    <p>
                        Me toma cinco minutos abrir el correo para iniciar el día con los pies en la tierra. No 
                        me pierdo las conversaciones sobre los temas más importantes desde que inicié a leer 
                        El Tinto
                        <br>
                        <br>
                        <strong>Natalia C., Bogotá, Estudiante de derecho</strong>
                    </p>
                </div>
            </div>
            <div class="row" style="margin: 40px 0 0 0">
                <div class="col-md-4 col-12">
                    <img src="https://el-tinto-utils.s3.amazonaws.com/home/user_3.png" 
                        style="margin: 0 auto; display: block;"
                    />
                </div>
                <div class="col-md-8 col-12 my-md-auto mt-4">
                    <p>
                        El Tinto se ha convertido en parte de mi rutina mañanera. La sección "¿Qué estamos viendo?" 
                        ¡se ha vuelto esencial para mí! 
                        <br>
                        <br>
                        <strong>Isabella E., Cali, Cineasta</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 40px 0 0 0;">
        <div style="background-color: #5044e4; padding: 5px 5%;">
            <hr style="width: 100%; border-top: 1px solid #FFFFFF; margin: 20px 0;">
            <p style="color: #FFFFFF; text-align: center; font-size: 12px; margin: 20px 0;">Copyright © El Tinto 2022 Todos 
              los derechos reservados.
            </p>
            <p style="color: #FFFFFF; text-align: center; font-size: 12px; margin: 20px 0 0 0;">¿Tienes alguna sugerencia o 
              quisieras que incluyeramos algo nuevo?
            </p>
            <p style="color: #FFFFFF; text-align: center; font-size: 12px; margin: 0">Escríbenos a 
              <a href='mailto:info@eltinto.xyz' style='color: #FFFFFF'>info@eltinto.xyz</a> 
              y te daremos respuesta antes de que se te enfríe el tintico.
            </p>
            <hr style="width: 100%; border-top: 1px solid #FFFFFF; margin: 20px 0;">
        </div>
    </div>
</div>
{% endblock %}